CompileFlags:
  CompilationDatabase: .
  Add:
    - --include-directory=C:/Users/Bartosz/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/qio_opi/include
    - -include
    - C:/Users/Bartosz/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/qio_opi/include/sdkconfig.h
  Remove:
    - -mlongcalls
    - -mfix-esp32-psram-cache-issue
    - -mfix-esp32-psram-cache-strategy*
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
    - -Wno-frame-address

Diagnostics:
  Suppress:
    - pp_file_not_found
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
